body {
    background-color:red;
}

#counter {
    margin-left: 600px;
    font-size: 64px;

}

.chislo {
    font-size: 48px;
    margin-left: 740px;
}

#buttons {
    margin-left: 650px;
}

#inc {
    background-color: darkolivegreen;
    width: 100px;
    height: 50px;
    border-radius: 16px;
    border: none;
}

#dec {
    background-color: coral;
    width: 100px;
    height: 50px;
    border-radius: 16px;
    border: none;
}